{% extends 'base.html.twig' %}

{% block title %}Rayons{% endblock %}

{% block body %}
    <h1>List of Rayons</h1>

    <ul>
        {% for rayon in rayons %}
            <li>
                <a href="{{ path('app_rayon_show', {'id': rayon.id}) }}">{{ rayon.name }}</a>
            </li>
        {% else %}
            <p>No rayons available.</p>
        {% endfor %}
    </ul>
{% endblock %}
